.contact-form {
  max-width: 250px;
  font-size: 30px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.form-input {
  height: 34px;
  background: #ccd6e3;
  border-radius: 6px;
  border: none;
  padding: 0 10px;
}

.form-button {
  box-sizing: border-box;
  width: 100px;
  height: 34px;
  background: #808e9e;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
}
